variables:
  ACTION:
    description: 'Action requested'
    value: 'Build and promote'
    options:
      - 'Debug'
      - 'Build and promote'
      - 'Release to production'
      - 'Run as plugin pipeline'
  PLUGIN:
    description: 'Specifies the type of the plugin pipeline ("N/A" if not running as plugin)'
    value: 'N/A'
    options:
      - 'N/A'
      - 'Merge gate'
      - 'Integration gate'
      - 'Staging gate'
  DEBUG:
    description: 'Enables pipeline debugging mode (if set to "true")'
    value: 'false'
    options:
      - 'false'
      - 'true'


include:
  - project: 'mydevops/mysite360/environment/pipeline-snippets'
    file: '/config/defaults/project.yml'
  - project: 'mydevops/mysite360/environment/pipeline-snippets'
    file: '/config/defaults/all-components.yml'
  - project: 'mydevops/mysite360/environment/pipeline-snippets'
    ref: feat/add-pre-commit
    file: '/tests/code-checks/commitlint/commitlint.yaml'
  - project: 'mydevops/mysite360/environment/pipeline-snippets'
    ref: feat/add-pre-commit
    file: '/tests/code-checks/pre-commit/pre-commit.yaml'


stages:
  - code checks
  - build
  - deploy

default:
  image: $CI_REGISTRY/code-ops/poetry-docker:2.2-py3.14
  tags:
    - DOCKER

variables:
  http_proxy: $CODE_PROXY
  https_proxy: $CODE_PROXY
  no_proxy: $CODE_NO_PROXY
  POETRY_HTTP_BASIC_MKDOCS_USERNAME: gitlab-ci-token
  POETRY_HTTP_BASIC_MKDOCS_PASSWORD: $CI_JOB_TOKEN
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1

lint:
  allow_failure: false
  image: node:krypton
  stage: code checks
  before_script:
    - yarn
    - apt-get -qq update
    - apt-get install -y jq mmv
  script:
    - yarn run lint:markdown
    - yarn run lint:cspell
  after_script:
    # supported format https://docs.gitlab.com/ee/ci/testing/code_quality.html#implement-a-custom-tool
    - |
      jq .issues out.json | jq --arg ci_project_dir $CI_PROJECT_DIR '[.[] | {description: (.text + ": " + .context.text) , severity: "major", location: { path: .uri | sub("file://" + $ci_project_dir + "/"; ""), lines: { begin: .row}}, fingerprint: . | @base64 }]' > gl-code-quality-report.json
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

build-mkdocs:
  stage: build
  script:
    - poetry install --no-root
    - poetry run mkdocs build --strict ${CI_MERGE_REQUEST_IID+--no-directory-urls}
  artifacts:
    expire_in: 3h
    paths:
      - site/
  rules:
    - !reference [.rules, run on success, for debugging, in any case]
    - !reference [.rules, run on success, for commit on working branch, in any case]
    - !reference [.rules, run on success, for merge request to default branch, in any case]
    - !reference [.rules, run on success, for commit on default branch, in any case]

.deploy-mkdocs:
  stage: deploy
  needs:
    - build-mkdocs
  image: busybox:1.36.1
  script:
    - mv site/ public/
  artifacts:
    paths:
      - public/

review: # Create a review environment (named after the current branch) and link to the latest job artifact
  stage: deploy
  script:
    - echo "Review content"
  artifacts:
    paths:
      - site/
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    url: ${CI_JOB_URL}/artifacts/file/site/index.html
  needs:
    - job: build-mkdocs
      artifacts: true
  rules:
    - !reference [.rules, run on success, for debugging, in any case]
    - !reference [.rules, run on success, for commit on working branch, in any case]
    - !reference [.rules, run on success, for merge request to default branch, in any case]

pages:
  extends: .deploy-mkdocs
  environment:
    name: production
    url: $CI_PAGES_URL
  rules:
  - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
